[project]
	description = It's a test repo for gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jojo Shi (shijunjuan)
[access "refs/for/refs/*"]
	read = group user/Jojo Shi (shijunjuan)
	push = group user/Jojo Shi (shijunjuan)
	label-Code-Review = -2..+2 group user/Jojo Shi (shijunjuan)
	label-Verified = -1..+1 group user/Jojo Shi (shijunjuan)
	rebase = group user/Jojo Shi (shijunjuan)
	removeReviewer = group user/Jojo Shi (shijunjuan)
	submit = group user/Jojo Shi (shijunjuan)
[access "refs/heads/*"]
	read = group user/Jojo Shi (shijunjuan)
	create = group user/Jojo Shi (shijunjuan)
	push = +force group user/Jojo Shi (shijunjuan)
	pushMerge = group user/Jojo Shi (shijunjuan)
[access "refs/tags/*"]
	push = +force group user/Jojo Shi (shijunjuan)
	pushTag = group user/Jojo Shi (shijunjuan)
	pushSignedTag = group user/Jojo Shi (shijunjuan)
